<template>
  <div class="chat">
    <chat-sidebar></chat-sidebar>
    <chat-area></chat-area>
  </div>
</template>


<script>
import ChatArea from '~/components/ChatArea'
import ChatSidebar from '~/components/ChatSidebar'
import {mapGetters} from 'vuex'
export default {
  computed: {
    ...mapGetters(['socket'])
  },

  created() {
    this.socket.addEventListener('close', () => {
      this.$router.push('/join')
    })
  },

  components: {
    ChatArea, ChatSidebar
  }
}
</script>


<style lang="scss" scoped>
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}
</style>
