<template>
	<transition name="fade">
		<router-view></router-view>
	</transition>
</template>

<style lang="scss">
	@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Comfortaa');
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-family: 'Comfortaa', cursive;
	}
	 .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
