<template>
	<main class="area">
		<div v-if="messages.length && opened" ref="area-wrapper" class="area-wrapper">
			<history class="area-history" :uniq="user.uniq" :messages="messages"/>
		</div>
		<h2 v-else class="area-no-history" align="center">
			<i v-if="opened">No messages</i>
			<i v-else>No connection</i>
		</h2>

		<writer @send-message="sendMessage"/>

	</main>	
</template>


<script>
import {mapGetters} from 'vuex'
import Writer from '~/components/Writer'
import History from '~/components/History'
export default {
  data: () => ({
		opened: true,
		messaging: true,
		messageLength: 25,
    message: '',
    messages: []
	}),
	computed: {
		...mapGetters(['user', 'socket'])
	},
	watch: {
		messages(value) {

			if (!(value[value.length - 1].uniq === this.user.uniq)) return
			
			setTimeout(() => {
				
				this.$refs['area-wrapper'].scrollTop = this.$refs['area-wrapper'].scrollHeight
			
			}, 0)
		
		}
	},

	created() {
		this.socket.addEventListener('message', msg => {
			
			const {type, payload} = JSON.parse(msg.data)
			
			if (type === 'MESSAGE') {
				
				this.messages.push(payload)
			
			}

		})
	},
  methods: {
    sendMessage(payload, e) {
			this.socket.send(JSON.stringify({
				type: 'MESSAGE',
				payload: { msg: payload }
			}))

		}
	},
	
	components: {
		Writer, History
	}
}
</script>


<style lang="scss">
.area {
	// background: linear-gradient(45deg, #D74177, #FFE98A);
  flex: 4;
	overflow: auto;
	padding: 10px 0;
	&-no-history {
		display: block;
		height: 86%;
		display: flex;
		justify-content: center;
		align-items: center;
		i {
			display: block;	
		}
	}
	&-wrapper {
		height: 86%;
		max-height: 86%;
		overflow: auto;
		padding: 0 10px 1%;
		&::-webkit-scrollbar {
			padding-left: 10px;
			width: .3em;
		}
		
		&::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: darkgrey;
			outline: 1px solid slategrey;
		}
	}
  &-history {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;

    &-msg {
			border-radius: 15px;
      display: flex;
      padding: 10px;
      background-color: #eee;
			flex-flow: column nowrap;
			box-shadow: 1px 1px 5px -1px rgba(0,0,0,.3);
			&.my {
				background: rgba(65, 215, 119, .3);
				align-self: flex-end;
			}
			&.end {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 15px;
				&.my {
					border-bottom-left-radius: 15px;
					border-bottom-right-radius: 0;
				}
			}
			&-sender {
				margin-bottom: 10px;
			}
			&-details {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				// min-width: 150px;


				&-time {
					font-size: 12px;
					margin-left: 20px;
				}

				&-text {
					max-width: 350px;
					word-wrap: break-word;
				}
			}
			
			&:not(:last-child) {
				margin-bottom: 10px;
			}
    }
  }
}
</style>
