<template>
  <ul>
    <message v-for="(msg, i) in messages" :key="i" :msg="msg" :my="msg.uniq === uniq"/>
  </ul>
</template>


<script>
import Message from '~/components/Message'
export default {
  props: ['messages', 'uniq'],
  components: {Message}
}
</script>