<template>
  <div class="area-writer">
    <input 
      type="text" 
      placeholder="Message..."
      v-model="message"
      @keydown.enter="sendMessage"
      :disabled="!messaging"
      >
  </div>
</template>


<script>
export default {
  data: () => ({
    message: '',
    messaging: true
  }),
  methods: {
    sendMessage() {

      if (!this.message) return
			
      this.$emit('send-message', this.message)
      
      this.message = ''
    
    }
  }
}
</script>


<style lang="scss" scoped>
.area-writer {
  margin-top: 1%;
  height: 12%;
  padding: 0 10px;

  input {
    transition: 0.3s;
    outline: none;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 30px;

    &:focus {
      border: 1px solid rgba(65, 215, 119, 0.3);
    }
  }
}
</style>
